#nihari {
display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}
.back-to-top {
  position: fixed;       
  bottom: 30px;          
  right: 30px;           
  display: block;        
  background-color: #555;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.back-to-top:hover {
  background-color: #333;
  opacity: 1;
}

p{
    z-index: -1;
    margin-top: 0;   
  margin-bottom: 1em; 
  padding: 0;  
}
input{
    height: 98vh
    ;
}

nav{
width: 100vw;
     position: sticky;
     top: 0%;
}
.ul,li {list-style: none;

    display: inline-block;
 
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: larger;


}

nav{
    
   background-color:#FFBF00;
   color: black; 
   text-align: center;
   padding: 2px;

}

.nav,ul,li{ padding-left: 50px;
    padding-right: 50px;
   


}
ul li:hover{
color:#FFBF00;
background-color: black;
padding-top: 5px;
padding-bottom: 5px;

}
.image-container {
  position: relative;
  width: 500px;      /* image width */
  max-width: 100%;
}

.image-container img {
  width: 100%;
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: rgba(0,0,0,0.7);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
